<!-- index.html -->
<!DOCTYPE html>
<html lang="ja">
  <head>
  </head>
  <body>



    <form action="/recommend" method="post">
      　日付：<input type="date" name="date" value={{today}}><br/>
      文字数：<input type="number" name="num_char" value="2"/><br/>
      頻出数：<input type="number" name="word_count" value="20"/><br/>
      サイト：<select name="sites">
              <option value="all_urls">yahoo</option>
              <option value="all_navers">naver</option>
              <option value="hatebo_urls">hatenabookmark</option>

              </select><br/>
      <input type="submit" value="単語閲覧" />
    </form>

  </body>
</html>
